.id {
    background-color: white;
}

.md {
    text-decoration: dotted;
    font-size: medium;
    font-style: oblique;
}

.button-container {
    display: flex;
    margin-right: 40%;
    margin-top: 20px;
  }
  
  .button {
    background-color: yellow;
    color: #090101;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10%;
    transition: all 0.3s ease;
  }
  
  .button:hover {
    background-color: #0069d9;
  }
  

.image-text-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem;
  }
  
  .image-container {
    flex: 1;
    text-align: right;
  }
  
  .image-container img {
    max-width: 40%;
    height: auto;
  }
  
  .text-container {
    flex: 1;
    margin-left: 2rem;
  }
  
  .text-container h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .text-container p {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  